
<div class="container">
    <div class="row">
      <div class="col">
        <a href="#" id="attr"><div class="thumbnail" id="attr">Gerer <br/> mon profil</div></a>
      </div>
      <div class="col">
        <a href="#" routerLink="achatBillet" id="bill"><div class="thumbnail" id="bill">Acheter un billet</div></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#" id="parc"><div class="thumbnail" id="parc">Accéder au Parc<br/> (simulation)</div></a>
      </div>
      <div class="col">
          <a href="#" id="sortie"><div class="thumbnail" id="sortie">Sortir du Parc<br/> (simulation)</div></a>
        </div>
      <div class="col">
        <a href="#" id="stats"><div class="thumbnail" id="stats">Accéder à une Attraction <br/> (simulation)</div></a>
      </div>
    </div>
  </div>