
<div class="container">
    <div class="row">
      <div class="col">
        <a  routerLink="modifyProfil" id="attr"><div class="thumbnail" id="attr">Gerer <br/> mon profil</div></a>
      </div>
      <div class="col">
        <a href="#" routerLink="achatBillet" id="bill"><div class="thumbnail" id="bill">Acheter un billet</div></a>
      </div>
      <div class="col">
        <a href="#" routerLink="mesBillets" id="mbill"><div class="thumbnail" id="mbill">Mes billets</div></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a  id="parc"><div class="thumbnail" routerLink="accesParc" id="parc">Accéder au Parc<br/> (simulation)</div></a>
      </div>
      <div class="col">
          <a id="sortie"><div class="thumbnail" (click)="sortieParc()" id="sortie">Sortir du Parc<br/> (simulation)</div></a>
        </div>
      <div class="col">
        <a  id="stats"><div class="thumbnail" routerLink="accesAttraction" id="stats">Accéder à une Attraction <br/> (simulation)</div></a>
      </div>
    </div>
  </div>