<div class="container">
  <div class="row">
    <div class="col">
      <a href="#" routerLink="./gestionAttractions" id="attr"><div class="thumbnail" id="attr">Gestion <br/>Attractions</div></a>
    </div>
    <div class="col">
      <a href="#" routerLink="./gestionBillets" id="bill"><div class="thumbnail" id="bill">Gestion Billets</div></a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="#" id="parc"><div class="thumbnail" id="parc">Gestion Parc</div></a>
    </div>
    <div class="col">
      <a href="#" routerLink="./statistiques" id="stats"><div class="thumbnail" id="stats">Statistiques</div></a>
    </div>
    <div class="col">
      <a href="#" id="users"><div class="thumbnail" id="users">Gestion<br/> Utilisateur</div></a>
    </div>
  </div>
</div>

