{{errorMsg}}

<h2>Selectionnez un billet</h2>
<div class= "tab" *ngIf="billets">
  <table class="table">
    <thead>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
      <th scope="col">Date Achat</th>
      <th scope="col">Date Début</th>
      <th scope="col">Date Fin</th>
      <th scope="col">Entrée disponibles</th>
      <th scope="col">Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let billet of billets; let i = index">
        <td>{{billet.type}} </td>
        <td>{{billet.description}}</td>
        <td>{{BUs[i].dateAchat | date}} </td>
        <td>{{BUs[i].dateDebut | date }}</td>
        <td>{{BUs[i].dateFin | date }} </td>
        <td *ngIf="BUs[i].nbEntreeDispo != -1">{{BUs[i].nbEntreeDispo}}</td>
        <td *ngIf="BUs[i].nbEntreeDispo == -1"></td>
        <td><input type="button" class="btn btn-primary" (click)="select(BUs[i].id)" id="BUs[i].id" value="Sélectionner ce billet"/></td>
      </tr>
    </tbody>
    
  </table>
</div>


