
{{errorMsg}}
<div class= "tab" *ngIf="attractions">
  <table class="table">
    <thead>
      <th scope="col">Nom</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of attractions">
        <td>{{item.nom}} </td>
        <td>{{item.description}}</td>
        <td>{{item.type}}</td>
        <td><input type="button" class="btn btn-primary" (click)="select(item.id)" id="item.id" value="Choisir"/></td>
      </tr>
    </tbody>
    
  </table>
</div>
