
<div class="container">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col-6">
      <div class="marge"></div>

      <div class="alert alert-danger" *ngIf="errorMsg">
          {{errMsg}}
      </div>
      <form #addAttrForm="ngForm" class="text-left" (ngSubmit)="onSubmit()" novalidate class="text-left">

        <h1>Selectionner l'ordre des attractions</h1>

      <div *ngIf="message">{{message}}</div>

      <div class="form-group">
        <div *ngFor="let item of attrsToDisplay; let i = index" > 
          <div class="row">
            <div class="col">
                
              {{item.nom}}
            </div>
            <div class="col">
              <label>Ordre : </label> 
              <select #ordreTxt+{{item.id}}="ngModel" [(ngModel)]="ordreVal[i]" name="ordreTxt{{item.id}}" >
                <option *ngFor="let o of ordre" [ngValue]="o" >{{o}}</option>
              </select>
            </div>

        </div>
      </div>
    </div>
    
    <button [disabled]="addAttrForm.form.invalid" type="submit" class="btn float-right text-white" style="background: #3db4b4; ">Valider</button>

    <a   (click)="ignore()" class="btn float-left text-white " style="background: #3db4b4; ">Ignorer cette étape</a>


  </form>
</div>
<div class="col"></div>
</div>
<div class="marge"></div>
</div>
